<h1>Edytuj post</h1>
<%= form_for(@post) do |f| %>
<% @post.errors.full_messages.each do |err| %> 
 <li><%= err %></li> 
<% end %>
  <%= f.label "tresc posta" %>
  <%= f.text_field :text %>
  <%= f.submit "Edytuj!" %>
  <% end %>